/* ESTILO GERAL */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #000;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(0, 151, 178);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

button:hover{
    box-shadow: 0px 0px 8px  rgb(0, 0, 152);
    transform: scale(1.05);
}

h2.titulo{
    color: #fff;
    font-size: 38px;
    text-align: center;
}


h2.titulo span{
    color: rgb(0, 151, 178);
}


/* ESTILO CABEÇALHO */

header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}
header a:hover{
    color: #fff;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}


/* ESTILO DO TOPO */
section.topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1{
    color: #fff;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span{
    color: rgb(0, 151, 178) ;
}

.topo-do-site .txt-topo-site p{
    color: #fff;
    margin: 40px 0;
}

.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;

}
@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
       top: 30px;
    }
}

section.especialidades{
    padding: 40px 4%;

}

section.especialidades .flex{
    gap: 60px;
}

.especialidades .especialidades-box{
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}
.especialidades .especialidades-box:hover{
    transform:  scale(1.05);
    box-shadow: 0 0 20px #ffffff78 ;
}

.especialidades .especialidades-box i{
    font-size: 70px;
    color:  rgb(0, 151, 178) ;
}

.especialidades .especialidades-box h3{
    font-size: 28px;
    margin: 15px 0;
}

section.sobre{
    padding: 80px 4%;

}
section.sobre .flex{
    align-items: center;
    gap: 60px;
}
.sobre .txt-sobre{
    color: #fff;
}

.sobre .txt-sobre h2{
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 30px;
}
.sobre .txt-sobre h2 span{
    color:  rgb(0, 151, 178) ;
    display: block;
}
.sobre .txt-sobre p {
    margin: 20px 0; 
    text-align: justify;
}

.sobre .txt-sobre .btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 0;
    background-color: rgb(0, 151, 178) ;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}   

section.portfolio{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;

}
section.portfolio .flex{
    justify-content: space-around;
    margin-top: 60px;
}

.img-port{
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-port :hover{
    background-position: 100% 100%;
    background-color: rgb(0, 151, 178)  ;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:  rgb(0, 151, 178) ;
    border-radius: 40px;
    display:flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    opacity: 0;
    transition: 0.5s;
}
.overlay h5 {
    margin-top: 40%; /* Ajuste esta margem conforme desejado */
}
.overlay:hover{
    opacity: 1;
}

